.background_image {
    display: flex;
    width: 100%;
    height: 500px;        
    position: relative;
    background: url('../../assets/img/mountain.jpg') no-repeat center center;
    background-size: cover; 
    z-index: 0;
    display: flex;
    align-items: center;      
    justify-content: center;
}

.title {
    color: white;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
}

.content {
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
}


.time_upload{
    text-align: left;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    color:black;
}

a.hvr-icon, a.like-btn, a.dislike-btn {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

textarea.form_area {
  resize: none;   /* tắt kéo giãn */
  overflow: auto; /* cho phép cuộn nội dung */
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.background_image {
  animation: morph 10s infinite alternate ease-in-out;
}

@keyframes morph {
  0% {
    border-radius: 20% 80% 50% 30% / 30% 50% 70% 40%;
    background-color: #f0f0f0;
  }
  25% {
    border-radius: 40% 60% 30% 70% / 50% 40% 60% 30%;
    background-color: #d0f0ff;
  }
  50% {
    border-radius: 50% 30% 70% 40% / 40% 60% 30% 70%;
    background-color: #e0e0ff;
  }
  75% {
    border-radius: 65% 35% 45% 55% / 55% 45% 35% 65%;
    background-color: #ffe0f0;
  }
  100% {
    border-radius: 80% 20% 30% 70% / 70% 30% 40% 60%;
    background-color: #ffe0e0;
  }
}

.like-btn.active-vote,
.dislike-btn.active-vote {
  color: #0d6efd;
  font-weight: bold;
}

.edit-textarea,
.reply-area {
  resize: none;       
  min-height: 80px;  
}

#notification-panel {
  max-width: 600px;   
  font-size: 1.2rem;  
  padding: 20px;      
  z-index: 20;
}

#notification-message {
  font-weight: bold;
}

#notification-timer {
  height: 8px;        
}

.modal-content{
  z-index: 10;
}


.ql-editor .ql-align-center,
.ql-align-center,
.content .ql-align-center {
  text-align: center !important;
}
.ql-editor .ql-align-right,
.ql-align-right,
.content .ql-align-right {
  text-align: right !important;
}
.ql-editor .ql-align-justify,
.ql-align-justify,
.content .ql-align-justify {
  text-align: justify !important;
}

/* Kích cỡ chữ Quill */
.ql-size-small {
  font-size: 0.75em !important;
}
.ql-size-large {
  font-size: 1.5em !important;
}
.ql-size-huge {
  font-size: 2.5em !important;
}

li[data-list="bullet"] {
  list-style-type: disc !important;  
}

.ql-video {
  width: 100% ;          
  height: 400px ;        
  max-width: 800px !important;     
  display: block;
  margin: 0 auto;       
}
